.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black;
  animation: typewriter 4s steps(20) forwards, blinkingCursor 0.8s infinite;
}

p {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 6s steps(30) 4s forwards;
}

@keyframes blinkingCursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}